<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Turnover</title>
    <link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>

<nav class="sidebar">
    <ul>
        <li><a href="#" class="nav-item active" data-target="home">Home</a></li>
        <li><a href="#" class="nav-item" data-target="table">Table</a></li>
        <li><a href="#" class="nav-item" data-target="order">Order</a></li>
        <li><a href="#" class="nav-item" data-target="ready">Ready</a></li>
        <li><a href="#" class="nav-item" data-target="cleaning">Cleaning</a></li>
        <li><a href="#" class="nav-item" data-target="payment">Payment</a></li>
        <li><a href="#" class="nav-item" data-target="analysis">Analysis</a></li>
        <li><a href="#" class="nav-item" data-target="dashboard">Dashboard</a></li>
    </ul>
</nav>

<main id="content"></main>

<script src="/static/scripts/script.js"></script>
</body>
</html>