<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Login page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h3 style="text-align: center; height:max-content; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 55px ; color:whitesmoke; border: black;">Please login with your email and password</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form>
        <div align = "center" class = "loginblock" >
            <br>
            <br>
            <label for="uname" style="font-size: 30px; width: 200px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font: bold; color: white;">
                Username:
            </label>
            <input type="test" id="uname" name="uname" placeholder="User_name" style="block-size: 25px; border-color: grey; background-color: white;">
        <!-- </div> -->
        <br>
        <br>

        <div align = "center">
            <label for="email" style="font-size: 30px; width: 200px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font: bolder; color: white;">
                email:
            </label>
            <input type="email" id="email" name="email" placeholder="email@gmail.com" style="block-size: 25px; border-color: grey; background-color: white;">
        <!-- </div> -->
        <br>
        <br>
        <div align = "center">
            <label for="pass" style="font-size: 30px; width: 200px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font: bold; color: white;">
                password:
            </label>
            <input type="password" maxlength="12" id="pass" name="pass" placeholder="password" style="block-size: 25px; border-color: grey; background-color: white;" >
        <br>
        <br>
        </div>
        <br>
        <br>

    </form>
    <button onclick="login_for_service()" style="width: 150px; height: 50px; font-size: 30px;">Login👈</button>


</body>
</html>