<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Table Turnover System</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <center>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>

        <h1
            style="font-size: 100px; color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Table Turnover System</h1>
        <h4
            style="font-size: 25px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">
            Maximizing table utilization, minimizing wait times</h4>
        <button onclick="login_for_service()" style="width: 150px; height: 50px; font-size: 30px; background: rgb(213, 129, 86); border: 40px; border-radius: 15px;"><a
                href="loginpage.html">login</a></button>
        <button onclick="login_for_service()"
            style="width: 150px; height: 80px; font-size: 30px; width: fit-content; height: 50px;  "
            class="my-button"><a href="createuser_page.html">create account</a></button>

    </center>
    
</body>

</html>